<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.StudenteMapper">

    <insert id="insertStudente" parameterType="com.example.project.Studenti">
        INSERT INTO studenti (id, nome, cognome, dataDiNascita, corsiDiLaurea, città)
        VALUES (#{id}, #{nome}, #{cognome}, #{dataDiNascita}, #{corsiDiLaurea}, #{città})
    </insert>

    <select id="getStudenteById" parameterType="int" resultType="com.example.project.Studenti">
        SELECT * FROM studenti WHERE id = #{id}
    </select>

    <select id="getAllStudenti" resultType="com.example.project.Studenti">
        SELECT * FROM studenti
    </select>

    <update id="updateStudente" parameterType="com.example.project.Studenti">
        UPDATE studenti SET
        nome = #{nome},
        cognome = #{cognome},
        dataDiNascita = #{dataDiNascita},
        corsiDiLaurea = #{corsiDiLaurea},
        città = #{città}
        WHERE id = #{id}
    </update>

    <delete id="deleteStudente" parameterType="int">
        DELETE FROM studenti WHERE id = #{id}
    </delete>

</mapper>
